* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html {
  font-size: 1rem;
}

hr {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #8338ec;
  border-radius: 5px;
  width: 70%;
}

.main--container {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(194, 205, 212);
  -webkit-box-shadow: 0px 0px 65px -17px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 65px -17px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 65px -17px rgba(0, 0, 0, 0.63);
}

.all-posts-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.header--navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(99, 69, 168);
  height: 70px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navigation--header {
  margin-bottom: 20px;
  margin-top: 10px;
  border-bottom: 3px solid #666f88;
}

.navigation--title {
  font-family: "Rubik Iso", cursive;
  font-size: 1.7rem;
  color: #b5bac9;
  cursor: pointer;
}

.post-section--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
  transition: 0.5s ease-in-out;
}

.post-card {
  width: 300px;
  height: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(233, 233, 233);
  border-radius: 7px;
  -webkit-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.75);
  border: 1px solid rgb(190, 190, 190);

  background-color: rgb(223, 221, 221);
}

.post-title {
  height: 60px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  
}
.post-card--container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 20px;
}

.tags--container {
  position: absolute;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  bottom: -9px;
  left: 0;
}

.tags {
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #666f88;
  color: white;
}

.title--container {
  padding-top: 10px;
}

.section--title {
  text-align: center;
  padding: 20px;
  font-size: 2.5rem;
  font-family: "Rubik Iso", cursive;
  text-transform: capitalize;
  margin-top: 20px;
  color: white;
  background-color: whitesmoke;
}

.section--title--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.all-posts-card {
  width: 300px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.75);
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  background-color: rgb(223, 221, 221);
}

.show-posts--triger {
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.show-posts--triger:hover {
  background-color: white;
  color: #666f88;
}

.arrow-icon {
  height: 100%;
  font-size: 1.5rem;
  color: white;
  margin-top: 20px;
  transition: 0.2s;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
}

.arrow-icon:hover {
  cursor: pointer;
  color: #666f88;
  background-color: white;
}

.hide-section {
  height: 0;
  overflow: hidden;
  padding: 0;
  transition: 0.5s ease;
}

.select-category-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  padding: 5px;
  border-radius: 7px;
  transition: 0.2s ease;
}

.select-category-ul {
  height: auto;
  list-style-type: none;
  background-color: white;
  position: absolute;
  top: 70px;
  left: 0;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid rgb(99, 69, 168);
  transition: 0.3s ease-in-out;
}

.category-item {
  padding: 10px 30px;
  background-color: rgb(99, 69, 168);
  color: white;
  border-bottom: 1px solid white;
  text-transform: capitalize;
  transition: 0.2s ease;
}

.category-item:hover {
  background-color: white;
  color: rgb(99, 69, 168);
}

.select-arrow {
  text-align: center;
}
.select-category {
  height: 100%;
  transition: 0.2s ease;
}

.underline {
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
  padding-bottom: 5px;
}
.underline:hover {
  border-bottom: 1px solid white;
}

.hide {
  height: 0;
  transition: 0.3s ease-in-out;
}

.span-category-title {
  text-transform: capitalize;
  font-family: "Rubik Iso", cursive;
  font-size: 2rem;
  color: rgb(99, 69, 168);
}

.body-text {
  font-size: 0.9rem;
  padding-left: 10px;
  padding-right: 10px;
  color:rgb(102, 111, 136)
}

.text-container {
  overflow: hidden;
}

.text-centered {
  text-align: center;
}